header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.4s;
    background: rgba(255, 255, 255, 1);
}

.header-cnt{
    padding: 30px 0;
    transition: 0.4s;
    gap: 30px;
}
.sticky .header-cnt{
    padding: 10px 0;
}
.logo{
    gap: 20px;
    white-space: nowrap;
}
.logo-fon{
    background: linear-gradient(270deg, #2948FF 0%, #396AFC 100%);
    width: 44px;
    height: 44px;
    padding: 11px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}
.nav-menu{
    width: 100%;
}
.head-menu{
    flex: 1;
    display: flex;
    justify-content: center;
}
.head-menu ul{
    gap: 50px;
}
.head-menu ul li{
    display: flex;
}
.head-menu a{
    color: #000000;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    transition: 0.3s;
    position: relative;
    display: flex;
    white-space: nowrap;
}
.head-menu a:hover{
    color: #2948FF;
}
.head-menu a:active{
    color: #2948FF;

}

.header-btn{
    gap: 25px;
}

.btn-login{
    font-size: 15px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: #000000;
    transition: 0.3s;
    background: unset;
}
.btn-login:hover, .btn-login:active{
    color: #2948FF

}
.btn-register{
    background: #000000;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}
.btn-register:hover, .btn-register:active{
    background: #2948FF;
}
.open-menu{
    display: none;
    position: relative;
    z-index: 9999;
}

.close-menu span {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.close-menu span:nth-child(3){
    display: none;
}
.body_fix{
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 25, 25, 0.6);

    z-index: 11;
    transition: 0.3s;
    backdrop-filter: blur(5px)

}

@media (max-width: 1199px){
    .header-cnt {
        padding: 25px 0;
    }
}

@media (max-width: 991px) {
    .btn-register {
        padding: 12px 25px;
        font-size: 12px;
    }
    .header-cnt {
        padding: 20px 0;
    }
    .logo {
        gap: 15px;
    }
    .logo img{
        width: 35px;
        height: 35px;
    }
    .logo span {
        font-size: 15px;
    }
    .open-menu{
        display: flex;
        flex-direction: column;
        gap: 4px;
        transition: 0.3s;
        height: 24px;
        width: 24px;
        justify-content: center;
        align-items: center;
    }
    .header-cnt {
        padding: 19px 0;
    }
    .sticky .header-cnt{
        padding: 19px 0;
    }
    .open-menu span{
        display: flex;
        background: #000000;
        width: 20px;
        height: 3px;
        border-radius: 5px;
        transition: 0.3s;
        position: relative;
    }
    .nav-menu {
        width: 100%;
        height: 0;
        position: fixed;
        z-index: 9999;
        top: 70px;
        left: 0;
        transition: 0.5s;
        overflow: hidden;
        flex-direction: column;
        background: #FFFFFF;
        justify-content: center;
        gap: 50px;
    }
    .transition-menu {
        height: 500px;
        -webkit-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .head-menu ul {
        gap: 30px;
        flex-direction: column;
    }
    .head-menu a {
        font-size: 16px;
        line-height: 21.12px;
    }
    .head-menu {
        flex: unset;
    }
    .header-btn {
        gap: 14px;
        flex-direction: column;
        width: 100%;
    }
    .header-btn button{
        max-width: 220px;
        width: 100%;
    }
    .btn-login {
        font-size: 12px;
        line-height: 16.8px;
    }
}

